<html>
    <body>
        <h4>Scheduling Home</h4>
    

    <ul>
        <li><a href= "http://localhost:8000/admin/">Admin</a></li>
        <li><a href= "http://localhost:8000/register/">Signup</a></li>
        <li><a href="http://localhost:8000/login/">Login</a></li><br>
        <li><a href= "http://localhost:8000/home/">Who</a></li><br>
        <li><a href="http://localhost:8000/CreatePendingEvent/">Make Pending Event</a></li>
        <li><a href= "http://localhost:8000/ListEvent/">List events </a></li>
        
        <li><a href= "http://localhost:8000/ShowInvites/">Show Invites </a></li>
        <li><a href= "http://localhost:8000/AcceptInvites/">Accept Invites </a></li>
        <li><a href= "http://localhost:8000/ShowPendingEventStatus/">Show pending events status </a></li>
        
        <li><a href= "http://localhost:8000/bot/">Bot </a></li> 
        
    </ul>
    <hr>
    </body>
</html>