<html>
    <body>
        <h4>Scheduling Home</h4>
    

    <ul>
        <li><a href= "http://localhost:8000/admin/">Admin</a></li>
        <li><a href= "http://localhost:8000/calen/signup/">Signup</a></li>
        <li><a href="login.html">Login</a></li><br>
        <li><a href= "http://localhost:8000/calen/home/">Who</a></li><br>
        <li><a href="me.html">Make Pending Event</a></li>
        <li><a href= "http://localhost:8000/calen/le/">List events </a></li>
        <li><a href= "http://localhost:8000/calen/te/">Test event </a></li>
        <li><a href= "http://localhost:8000/calen/si/">Show Invites </a></li>
        <li><a href= "http://localhost:8000/calen/ai/">Accept Invites </a></li>
        <li><a href= "http://localhost:8000/calen/spes/">Show pending events status </a></li>
        
        
    </ul>
    </body>
</html>