<html>
    <body>
        <h3>Talk to schedule</h3>

        <h4>Total available slots:  {{ data.slots|length }} </h4>

        {% for slot in data.slots %}
            From {{ slot.from }}<br>
            To {{ slot.to }}<br>
            <!-- Book form HERE -->
            <form action="http://localhost:8000/calen/mpe/" method="POST">
            From <input type="datetime-local" name="date_start" value="{{slot.from}}"><br>
            To <input type="datetime-local" name="date_end" value="{{slot.to}}"><br>
            Title <input type="text" name="title" value="demo title"><br>
            Include author <input type="checkbox" name="include_author" checked><br> 
            Members <input type="text" name="members" value="sittu gg"><br>
            <input type="submit" value="Book">

        </form> 
            <br>
        {% endfor %}

        <form action="http://localhost:8000/bot/" method="GET">
            Enter your message <input type="text" name="msg"><br>
            <input type="submit">
        </form>

    </body> 
</html>