<html>
<body>
    <h3> Talk to Schedule </h3>

    {% if data.status %}

        {% if data.status == "require" %}
        <h3>Required fields</h3>
        <form action="http://localhost:8000/bot/" method="POST">{% csrf_token %}
        <input type="hidden" name="type" value="update">
            {% for field in data.requirements %}
                {{ field.msg }} <input type="text" name="{{field.field}}"><br>
            {% endfor %}
            {% for field in data.found %}\
                {{ field.field }}   {{ field.value }}<br>
                <input type="hidden" name="{{field.field}}" value="{{field.value}}">
            {% endfor %}
            <input type="submit">
        </form>
        {% endif %}

        {% if data.status == "success" %}
        
            <h4>Total available slots:  {{ data.slots|length }} </h4>
            {% for slot in data.slots %}
                From {{ slot.from }}<br>
                To {{ slot.to }}<br>
                <form action="http://localhost:8000/calen/mpe/" method="POST">
                    <input type="hidden" name="date_start" value="{{slot.from}}">
                    <input type="hidden" name="date_end" value="{{slot.to}}">
                    <input type="hidden" name="title" value="{{data.title}}">
                    <input type="checkbox" name="include_author" {{data.include_author}} style="display:none">
                    <input type="hidden" name="members" value="{{data.members}}">
                    <input type="submit" value="Book">
                </form> 
                <br>
            {% endfor %}

        {% endif %}

    {% else %}
        <form action="http://localhost:8000/bot/" method="POST">{% csrf_token %}
            <input type="hidden" name="type" value="new">
            Enter your message <input type="text" name="msg"><br>
            <input type="submit">
        </form>
    {% endif %}


</body>
</html>